body {
    height: 100%;
}

.login{
    background-image: url("../assets/img/fundoLogin.png");
    padding: 5%;
    background-repeat: no-repeat;
    background-size: cover;
}


.form-signin {
    width: 100%;
    max-width: 50%;
    padding: 15px;
    display: block;
    margin: 0px auto;
    background: rgba(0, 0, 0, .6);
    border-radius: 20px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#mt-5 {
    color: whitesmoke !important;
}

#mb-4 {
    color: whitesmoke !important;
}

#modalh2 {
    font-family: cursive;
    font-size: 30px;
}


.footer{
    background-color: #4F4F4F;
    padding: 10px 15px 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

@media screen and (min-width:1900px){
    .login{
        height: 90vh;
    }
}


@media screen and (max-width:550px){
    .form-signin{
       max-width: 100%;
       height: 85%;
       margin: 0px auto;
       display: block;
    }
}

